.container3 {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding-top: 82px;
  padding-bottom: 48px;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  margin-top: -30px;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #00b3a6;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.footer-col .logo2 {
  display: flex;
  align-items: center; /* Align the logo and text vertically */
  margin: 0;
}

.footer-col .logo2 img {
  width: 50px;
  margin-top: -11px;
  margin-right: 9px;
  margin-top: -40px;
}

.footer-col .logo2 span {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 500;
  position: relative;
  display: inline-block;
  margin-top: -40px;
}

.footer-col .logo2 span::after {
  content: ""; /* Creates the red line */
  position: absolute;
  left: 0;
  bottom: -5px; /* Adjust distance between the text and line */
  background-color: #00b3a6;
  height: 2px;
  width: 50px; /* Adjust line width */
}

.footer-col p {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 300;
  color: #bbbbbb;
  line-height: 1.5;
}

/*responsive*/
@media (max-width: 767px) {
  .footer {
    padding-bottom: 0;
  }
  .footer-col {
    width: 50%;
    margin-bottom: 64px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
